<h1> You Are Home </h1>

<div>
  <form action='/login_student' method='post'>
    <input type='submit' value='Login As Student' />
  </form>
</div>

<div>
  <form action='/login_teacher' method='post'>
    <input type='submit' value='Login As Teacher' />
  </form>
</div>