<h1> <%= @user.full_name %>'s Contacts</h1>
<hr />
<ul>
  <% @contacts.each do |contact| %> 
    <li> 
      <%= link_to contact.full_name, user_contact_path(@user, contact) %>
    </li>
  <% end %>
</ul>